<div class='container'>
	<div class='hero-unit col-xs-12'>
		<p>
			I am currently working on <a href="http://www.centurylinkcloud.com/appfog">AppFog</a> and am new to programming. I recently started this app built with Ruby and the Sinatra gem, and I have deployed a Wordpress blog. I'm not sure what I want to do career-wise other than I like working with Linux and don't want to be tier 1 customer support anymore. I enjoy working with a small team to tackle problems as they arise, and I see myself with Linux as a junior dev/ops engineer or a system administrator or perhaps as a junior Ruby developer.
		</p>
	</div>
</div>
