.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			%button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.nav-collapse.collapse
				%i
					%ul.nav
						%li
							%a{:href => "/"} The Casualty Report
						%li
							%a{:href => "/projects"} My Other Projects
						%li.active
							%a{:href => "/about"} About Me
.container
	.hero-unit
		%p
			I am currently working on <a href="http://www.centurylinkcloud.com/appfog">AppFog</a> and am a new developer. I recently started this app built with Ruby using Sinatra and have deployed a Wordpress blog. I'm not sure what I want to do career-wise other than I like working with Linux and don't want to be Tier 1 customer support anymore. I can see myself being a Linux system administrator, junior Linux engineer, or perhaps a junior Ruby developer.