<div class='row'>
	<style>
		div { padding-bottom: 30px; }
	</style>

	<div class='col-xs-12 btn-group btn-group-justified text-center' role='group'>
		<a role='button' class='btn btn-default btn-med' href='/'>Home</a>

		<a role='button' class='btn btn-default btn-med' href='/toi'>Things of Interest</a>

		<a role='button' class='btn btn-default btn-med active' href='/about'>About Me</a>
	</div>
</div>

<div class='row'>
	<style>
		p { border-left: 1px solid #282828; }
	</style>

	<ul class='list-unstyled text-right col-xs-4 col-sm-2 col-sm-offset-1 col-md-1'>
		<style>
			li { padding-bottom: 5px;
				font-size: 125%;
				}
		</style>

		<li>
			<a href='https://www.linkedin.com/in/DJansen87'>LinkedIn</a>
		</li>

		<li>
			<a href='https://github.com/casrep/'>GitHub Profile</a>
		</li>
	</ul>

	<p class='col-xs-8 col-sm-7 col-md-9'>
			I am currently working on the legacy version of <a href="http://www.ctl.io/appfog/">AppFog</a> and am new to programming. I built this app with Ruby and the Sinatra gem. I'm not sure what I want to do career-wise other than I like working with Linux and don't want to be tier 1 customer support anymore. I enjoy working with a small team to tackle problems as they arise, and I see myself with Linux as a junior dev/ops engineer or a system administrator or perhaps as a junior Ruby developer.
	</p>
</div>
