<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <i>
          <ul class="nav">
            <li>
              <a href="/">The Casualty Report</a>
            </li>
            <li>
              <a href="/projects">My Other Projects</a>
            </li>
            <li class="active">
              <a href="/about">About Me</a>
            </li>
          </ul>
        </i>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <p>
      I am currently working on <a href="http://www.centurylinkcloud.com/appfog">AppFog</a> and am a new developer. I recently started this app built with Ruby using Sinatra and have deployed a Wordpress blog. I'm not sure what I want to do career-wise other than I like working with Linux and don't want to be Tier 1 customer support anymore. I can see myself being a Linux system administrator, junior Linux engineer, or perhaps a junior Ruby developer.
    </p>
  </div>
</div>