<div class='row'>
	<style>
		div { padding-bottom: 30px; }
	</style>

	<div class='col-xs-12 btn-group btn-group-justified text-center' role='group'>
		<a role='button' class='btn btn-default btn-med active' href='/'>Home</a>

		<a role='button' class='btn btn-default btn-med' href='/toi'>Things of Interest</a>

		<a role='button' class='btn btn-default btn-med' href='/about'>About Me</a>
	</div>
</div>

<div class='row text-center'>
	<div class='col-xs-12'>
		<p>
			This is me, playing around with <a href="http://www.sinatrarb.com/">Sinatra</a> and <a href="http://getbootstrap.com/">Bootstrap</a>. I hope to have more soon.
		</p>
	</div>
</div>
