<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <i>
          <ul class="nav">
            <li class="active">
              <a href="/">The Casualty Report</a>
            </li>
            <li>
              <a href="/projects">My Other Projects</a>
            </li>
            <li>
              <a href="/about">About Me</a>
            </li>
          </ul>
        </i>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
    <p>
      This is me, playing around with Sinatra. I hope to have more soon.
    </p>
  </div>
  <div class="hero-unit">
    <p>
      I'm still working out how I can get it to post to a MySQL database.
    </p>
    <p>
      I'm using AppFog's platform which uses an environment variable to store database credentials.
    </p>
  </div>
</div>
