<div class="container">
	<div class="hero-unit">
		<p>
			This is me, playing around with <a href="http://http://www.sinatrarb.com/">Sinatra</a> and <a href="http://getbootstrap.com/">Bootstrap</a>. I hope to have more soon.
		</p>
		<p>
			I'm still working out how I can get it to post to a MySQL database. I'm also using <a href="http://www.centurylinkcloud.com/appfog">AppFog v1's platform</a> which uses an environment variable to store database credentials.
		</p>
	</div>
</div>
