.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			%button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.nav-collapse.collapse
				%i
					%ul.nav
						%li.active
							%a{:href => "/"} The Casualty Report
						%li
							%a{:href => "/projects"} My Other Projects
						%li
							%a{:href => "/about"} About Me
.container
	.hero-unit
		%p
			This is me, playing around with Sinatra. I hope to have more soon.
	.hero-unit
		%p
			I'm still working out how I can get it to post to a MySQL database.
		%p
			I'm using AppFog's platform which uses an environment variable to store database credentials.