<div class='row'>
	<div class='btn-group btn-group-justified text-center' role='group'>
		<a role='button' class='btn btn-default btn-lg active disabled' href='/'>Home</a>

		<a role='button' class='btn btn-default btn-lg ' href='/interesting'>Things of Interest</a>

		<a role='button' class='btn btn-default btn-lg ' href='/projects'>My Other Projects</a>

		<a role='button' class='btn btn-default btn-lg ' href='/about'>About Me</a>
	</div>
</div>

<div class='row text-center'>
	<div class='col-xs-12 panel panel-primary'>
		<h1 class='panel-heading panel-title'>
			The Casualty Report
		</h1>

		<div class='panel-body'>
			<p>
				This is me, playing around with <a href="http://www.sinatrarb.com/">Sinatra</a> and <a href="http://getbootstrap.com/">Bootstrap</a>. I hope to have more soon.
			</p>

			<p>
				<!-- I'm still working out how I can get it to post to a MySQL database. I'm also using <a href="http://www.centurylinkcloud.com/appfog">AppFog v1's platform</a> which uses an environment variable to store database credentials. -->
			</p>
		</div>
	</div>
</div>
