<div class='container'>
	<div class='hero-unit'>
		<a href='http://decentsecurity.com'><img alt='Decent Security' src='http://static1.squarespace.com/static/545860c3e4b0e779a136e22d/t/54a9e200e4b010b9ae3387d3/1436332232405/?format=1000w' href='http://decentsecurity.com'></img></a>
		<hr />
		<h3 align='center'>
			Written by a suspected android and apologist for our robot overlords, <a href='https://twitter.com/SwiftOnSecurity'>InfoSec Taylor Swift</a>.
		</h3>
	</div>
</div>
