<div class='row'>
	<style>
		div { padding-bottom: 30px; }
	</style>

	<div class='btn-group btn-group-justified text-center' role='group'>
		<a role='button' class='btn btn-default btn-med' href='/'>Home</a>

		<a role='button' class='btn btn-default btn-med active' href='/toi'>Things of Interest</a>

		<a role='button' class='btn btn-default btn-med' href='/about'>About Me</a>
	</div>
</div>

<table class='table table-striped table-condensed'>
	<tr>
		<td class='col-xs-6 col-sm-5 col-md-4 text-center'>
			<a href='http://decentsecurity.com'>DECENT SECURITY</a>
		</td>

		<td class='col-xs-6 col-sm-7 col-md-8'>
			Written by a suspected android and apologist for our robot overlords, <a href='https://twitter.com/SwiftOnSecurity'>InfoSec Taylor Swift</a>.
		</td>
	</tr>
</table>
