<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title><%= @title %></title>
		<!-- <link href='/css/bootstrap.css' rel='stylesheet' style='text/css' />
		<link href='/css/bootstrap-responsive.css' rel='stylesheet'> -->
		<!-- <link href='/css/main.css' rel='stylesheet'> -->
		</style>
	</head>
	<body>
		<!-- <div class='row'> -->

			<!-- <div class='navbar navbar-inverse navbar-fixed-top'>
				<div class='navbar-inner'>
					<div class='container'>
						<button class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse' type='button'>
							<span class='icon-bar'></span>
							<span class='icon-bar'></span>
							<span class='icon-bar'></span>
						</button>
						<div class='nav-collapse collapse'>
							<ul class='nav'>
								<li>
									<a href='/'>The Casualty Report</a>
								</li>
								<li>
									<a href='/interesting'>Things of Interest</a>
								</li>
								<li>
									<a href='/projects'>My Other Projects</a>
								</li>
								<li>
									<a href='/about'>About Me</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->

			<!-- <div class='container-fluid text-center'>
				<ul class='row list-unstyled list-inline'>
					<li class='col-xs-3'>
						<h1>
							<a href='/'>The Casualty Report</a>
						</h1>
					</li>

					<li class='col-xs-3'>
						<h1>
							<a href='/interesting'>Things of Interest</a>
						</h1>
					</li>

					<li class='col-xs-3'>
						<h1>
							<a href='/projects'>My Other Projects</a>
						</h1>
					</li>

					<li class='col-xs-3'>
						<h1>
							<a href='/about'>About Me</a>
						</h1>
					</li>
				</ul>
			</div> -->

				<!-- <div class='dropdown col-xs-12' align='center'>
					<button type='button' class='btn btn-lnk dropdown-toggle btn-lg' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true' id='dropdownMenu1'>
						<%= @page %> <span class="caret"></span>
					</button>
					<ul class='dropdown-menu' aria-labelledby='dropdownMenu1'>
						<li role='navigation'>
							<a href='#'>The Casualty Report</a>
						</li>

						<li role='navigation'>
							<a href='#'>Things of Interest</a>
						</li>

						<li role='navigation'>
							<a href='#'>My Other Projects</a>
						</li>

						<li role='navigation'>
							<a href='#'>About Me</a>
						</li>
					</ul>
				</div> -->

				<!-- <div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Dropdown

						<span class="caret"></span>
					</button>

					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div> -->

			<!-- <div class='container-fluid text-center'>
				<p class='row'>
					<a href='/' role='button' class='btn btn-lnk col-xs-3'>The Casualty Report</a>

					<a href='/interesting' role='button' class='btn btn-lnk col-xs-3'>Things of Interest</a>

					<a href='/projects' role='button' class='btn btn-lnk col-xs-3'>My Other Projects</a>

					<a href='/about' role='button' class='btn btn-lnk col-xs-3'>About Me</a>
				</p>
			</div>

		</div> -->

		<div class='row'>
			<%= yield %>
		</div>

		<!-- </div> -->

		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' />
		<script src='/js/bootstrap.js' />
	</body>
</html>
