<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title><%= @title %></title>
		<link href='/css/bootstrap.css' rel='stylesheet' style='text/css' />
		<link href='/css/bootstrap-responsive.css' rel='stylesheet' />
		<!-- <link href='/css/main.css' rel='stylesheet'> -->
		<link rel="icon" type="image/png" href="/casrep.ico" />
	</head>

	<body>
		<div class='container-fluid'>
			<%= yield %>
		</div>

		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

		<script src='/js/bootstrap.js'></script>
	</body
</html>
