<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><%= @title %></title>
		<link rel="stylesheet" style="text/css" href="/css/bootstrap.min.css" />
		<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
			body {padding-top: 60px;}
		</style>
	</head>
	<body>
		<%= yield %>
		<script src="/js/bootstrap.min.js" />
	</body>
</html>