<div class="container">
	<div class="hero-unit">
		<h2><a href="http://wordpress.casrep.net">Personal Blog</a></h2>
		<p>
			It's nothing fancy or interesting - just something for me to practice writing, learn a little Wordpress/PHP, and organize/express my thoughts.
		</p>
	</div>
</div>
