.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			%button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.nav-collapse.collapse
				%i
					%ul.nav
						%li
							%a{:href => "/"} The Casualty Report
						%li.active
							%a{:href => "/projects"} My Other Projects
						%li
							%a{:href => "/about"} About Me
.container
	.hero-unit
		%h4 Please remember that these are a work in progress.
		%p
			<a href="http://wordpress.casrep.net">My Wordpress Blog Project</a>
		%p
			Hopefully there will be more to come!