.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			%button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.nav-collapse.collapse
				%i
					%ul.nav
						%li
							%a{:href => "/"} The Casualty Report
						%li
							%a{:href => "/projects"} My Other Projects
						%li
							%a{:href => "/about"} About Me
.container
	%h4 Just another testing page...
	%pre
		%code
			testing<br />testing<br />testing
	%code
		testing